body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.main {
  display: flex;
}

.container > div {
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: darkgray;
  display: inline-block;
  padding: 10px;
}

.sidebar li {
  list-style-type: none;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.news {
  margin: 20px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  width: 100%;
}

.news a {
  text-decoration: underline;
}

.bottom {
  text-align: center;
}

.play {
  display: inline-block
  /*margin: 10px;*/
  /*text-align: center;*/
  color: white;
  height: 48px;
  width: 120px;
  background-color: orange;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.play p {
  color: white;
  text-decoration: none;
  margin: 0 auto;

}

a {
  text-decoration: none;
}
